<div class="card text-white bg-primary mb-3" style="max-width: 30rem">
  <div class="card-header">Welcome!</div>
  <div class="card-body">
    <h5 class="card-title">Vehicles</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nickname</th>
          <th scope="col">More Info.</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
       
        <% vehicles.forEach((v, index) => { %>
         
          <%if(user && user._id.equals(v.userId)){%>  
        <tr>
          <td><%= index + 1 %></td>
          <td><%= v.nickname %></td>
          <td><a href="/vehicles/<%= v._id %>?_method=DELETE">Open</a></td>
          <td>
           
            <form
              class="delete-form"
              method="POST"
            >
              <button class="btn btn-danger  btn-sm" type="submit">DELETE</button>
            </form>
          </td>
        </tr><% }; %>
        <% }); %>
      </tbody>
    </table>

    <br /><br /><br />

    <a href="/vehicles/new"  class="link-success">Add vehicle</a>
  </div>
</div>
