<div class="card text-white bg-primary mb-3" style="max-width: 18rem">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Add Vehicle</h5>

    <form id="new-form" action="/vehicles" method="POST">
      <div class="form-group">
        <label for="formGroupExampleInput">VIN</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          name="vin"
          placeholder="enter vehicle Identifcation number"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Vehicle nickname</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          name="nickname"
          placeholder="Dad's truck"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Year</label>
        <input
          type="number"
          min="1908"
          max="2030"
          name="year"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="2020"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Make</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          name="make"
          placeholder="make of vehicle"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Model</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          name="model"
          placeholder="make of vehicle"
        />
      </div>
      <button type="submit" class="btn btn-success">Add Vehicle</button>
    </form>
  </div>
</div>
