
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: rgb(223,240,253);">
    <a class="navbar-brand" href="/">Maintenance Minder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if (user) { %>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav d-lg-inline-flex flex-lg-row-reverse">
        <a class="nav-item nav-link" href="/" >Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/vehicles">Vehicles</a>
        <a class="nav-item nav-link" href="/logout">Log Out</a>
        <% } else { %>
            <a class="nav-item nav-link disabled  login " href="/auth/google">Log IN&nbsp;<img src="http://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
  </nav>
</div>
</div>
