<section class="hero">
  <div class="hero-content">
    <h1 class="hero-title">Maintenace Minder</h1>
    <h2 class="hero-subtitle">We make maintaining your vehicle easy!</h2>
    <h2 class="hero-content">Login to Get Started!</h2>
  </div>
</section>
