
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Update Maintenance Schedule</div>
    <div class="card-body">
      <h5 class="card-title">Update Your Service Needs</h5>
      <form action="/service/<%= service.id %>?_method=PUT" method="POST" autocomplete="off">
        <!-- <input type="text" value="<%= service.service %>" name="service"> -->
        <input type="checkbox" <%= service.completed ? 'checked' : '' %> name="complete"/>
        <button class="btn btn-success"  type="submit">Update Schedule</button>
      </form>


    </div>
</div>
