<div class="card text-white bg-primary mb-3" style="max-width: 30rem">
  <div class="card-header">Create Maintenance Item</div>
  <div class="card-body">
    <h5 class="card-title">Add Service</h5>
    <form action="/services" method="POST" autocomplete="off">
      Name:
      <input
        placeholder="What is the work to do?"
        type="text"
        name="workTodo"
      />
      <br />
      Date:
      <input
        type="date"
        name="date"
        placeholder="what date do you want this service?"
      />
      <br />
      <input type="hidden" name="vehicleId" value="<%= query.vehicleId %>" />
      <br />
      <button class="btn btn-success" type="submit">Add Service</button>
    </form>
  </div>
</div>
