<div class="card text-white bg-primary mb-3" style="max-width: 30rem">
  <div class="card-header">Create Maintenance Item</div>
  <div class="card-body">
    <h5 class="card-title">Add Service</h5>
    <form action="/services" method="POST" autocomplete="off">
      <div class="form-group">
      <label for="exampleInputEmail1">Type of Service</label>
      <input
        placeholder="ex. Oil Change"
        type="text"
        name="workTodo"/>
        
      </div>
      
      <div class="form-group">
      <label for="exampleInputEmail1">Date of Service</label>
      <input
        type="date"
        name="date"
        placeholder="choose date of service?"
      />
      
    </div>
      <br />
      <input type="hidden" name="vehicleId" value="<%= query.vehicleId %>" />
      <br />
      <button class="btn btn-success" type="submit">Submit</button>
    </form>
  </div>
</div>
