
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">Maintenance Schedule</div>
    <div class="card-body">
      <h5 class="card-title">Vehicles</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Maintenance Work</th>
            <th scope="col">Due On</th> 
            <th scope="col">Completed</th> 
          </tr>
        </thead>
        <tr>
            <td> </td>
          </tr>
          <tr>    
            <td></a></td>
          </tr>
         
        </tbody>
      </table>
    </div>
</div>
